
  html{
    margin: 0;
    padding: 0;
  }
  body{
    margin: 0;
  }
  div.overlay{
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      opacity: 20%;
      margin: 0;
      /*put this inside a class or id thingie*/
      animation-name: colours; /*name of animation*/
      animation-duration: 3600s; /*duration in seconds, if you want faster, make lower*/
      animation-iteration-count: infinite /*how mnay times it should play*/
      
  }
  @keyframes colours
  {
    0%{background-color: rgb(255, 0, 0);}
    15%{background-color: rgb(255, 234, 0);}
    30%{background-color: rgb(0, 255, 102);}
    45%{background-color: rgb(0, 221, 255);}
    60%{background-color: rgb(68, 0, 255);}
    75%{background-color: rgb(255, 0, 221);}
    90%{background-color:rgb(255, 0, 119);}
    100%{background-color: rgb(255, 0, 0);}
  }
  
  
  div.canvas-bg{
      position: absolute;
      background-color: white;
      width: 320px;
      height: 200px;
      top:230px;
      left: 375px;
      z-index: -2;
  }
  
  img#bg{
      width:1000px;
      height: 600px;
      z-index: 3;
      position: absolute;
      top: 0;
  }
  p.align-centre{
      position: absolute;
      left: 188px;
  }
  
  canvas.canvas{
    position: absolute;
    top: 240px;
    left: 380px;
    width: 315px;
    z-index: -1;

}
img#current-icon{
    z-index: -3;
    position: absolute;
    top: 17px;
    left: 188px;
    width: 1000px;
    height: 599px;
}
  
  button#getWeather{
      z-index: 4;
      position: absolute;
      left: 600px;
      top: 20px;
  
      font-size: 15px;
      color: white;
      font-family: monospace;
      
      background-color: transparent;
      
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
  
      
      cursor: pointer;
      
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  
      line-height: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .pixel {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }
  
  
  div.sidebar-right{
      z-index: 8;
      position: absolute;
      left: 460px;
      top: 450px;
      width: 30%;
      height: 20%;
      flex-direction: row;
  }
  .player {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    
    .details {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-top: 25px;
    }
    
    .track-name {
      font-size: 1rem;
      font-family: monospace;
    }
    
    .track-artist {
      font-size: 1rem;
      font-family: monospace;
    }
    
    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .playpause-track {
      opacity: 0.6;
    
      /* Smoothly transition the opacity */
      transition: opacity .2s;
  
    }
    
    .playpause-track:hover, .prev-track:hover, .next-track:hover {
      opacity: 1.0;
    }
    
    .slider_container {
      width: 300px;
      max-width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    /* Modify the appearance of the slider */
    .seek_slider, .volume_slider {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 5px;
      background: black;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    /* Modify the appearance of the slider thumb */
    .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: white;
      cursor: pointer;
      border-radius: 30px;
    }
    
    .seek_slider:hover, .volume_slider:hover {
      opacity: 1.0;
    }
    
    .seek_slider {
      width: 200px;
    }
    
    .volume_slider {
      width: 200px;
    }
    
    .current-time, .total-duration {
      padding: 10px;
    }
    
    i.fa-volume-down, i.fa-volume-up {
      padding: 10px;
    }
    
    i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
      cursor: pointer;
    }
  
  
  .fullscreenBtn{
      position: absolute;
      left:495px;
      top: 235px;
      z-index: 7;
      text-align: justify;
      cursor:pointer;
      background: none;
      font-family: monospace;
      border: 1px solid;
  
  }
  .fullscreen{
      position: absolute;
      bottom:0;
      left: 0;
      width: 100%;
      z-index: 5;
  }
  .fullscreen-bg{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: 4;
  }
  .overlayfullscreen{
      position: absolute;
      z-index: 6;
      width: 100%;
      height: 100%;
      opacity: 30%;
      /*put this inside a class or id thingie*/
      animation-name: colours; /*name of animation*/
      animation-duration: 3600s; /*duration in seconds, if you want faster, make lower*/
      animation-iteration-count: infinite /*how mnay times it should play*/
  }
  .hide{
      display: none;
      visibility: hidden;
  }
  
  .escapeBtn{
    position: absolute;
      left:48%;
      top: 5%;
      z-index: 7;
      text-align: justify;
      cursor:pointer;
      background: none;
      font-family: monospace;
      border: 1px solid;
  
  }

  /* Tablet sizes */

  @media only screen and (max-width: 992px) {
    html{
      margin: 0;
      padding: 0;
    }
    body{
      margin: 0;
    }
    div.overlay{
      position: absolute;
      z-index: 2;
      width: 992px;
      height: 2000px;
      opacity: 20%;
      margin: 0;
      /*put this inside a class or id thingie*/
      animation-name: colours; /*name of animation*/
      animation-duration: 3600s; /*duration in seconds, if you want faster, make lower*/
      animation-iteration-count: infinite /*how mnay times it should play*/
      
  }
  @keyframes colours
  {
    0%{background-color: rgb(255, 0, 0);}
    15%{background-color: rgb(255, 234, 0);}
    30%{background-color: rgb(0, 255, 102);}
    45%{background-color: rgb(0, 221, 255);}
    60%{background-color: rgb(68, 0, 255);}
    75%{background-color: rgb(255, 0, 221);}
    90%{background-color:rgb(255, 0, 119);}
    100%{background-color: rgb(255, 0, 0);}
  }
  
  
  div.canvas-bg{
      position: absolute;
      background-color: white;
      width: 340px;
      height: 250px;
      top:245px;
      left: 180px;
      z-index: -2;
  }
  
  img#bg{
      width: 992px;
      height: 650px;
      z-index: 3;
      position: absolute;
      top: 0;
  }
  p.align-centre{
      position: absolute;
      left: 0px;
      top: 0;
  }
  
  canvas.canvas{
    position: absolute;
    top: 270px;
    left: 180px;
    width: 340px;
    z-index: -1;
  
  }
  img#current-icon{
    z-index: -3;
    position: absolute;
    top: 17px;
    left: 0px;
    width: 992px;
    height: 650px;
  }
  
  button#getWeather{
      z-index: 4;
      position: absolute;
      left: 300px;
      top: 20px;
  
      font-size: 15px;
      color: white;
      font-family: monospace;
      
      background-color: transparent;
      
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
  
      
      cursor: pointer;
      
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  
      line-height: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .pixel {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }
  
  
  div.sidebar-right{
      z-index: 8;
      position: absolute;
      left: 200px;
      top: 500px;
      width: 30%;
      height: 20%;
      flex-direction: row;
  }
  .player {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    
    .details {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-top: 25px;
    }
    
    .track-name {
      font-size: 1rem;
      font-family: monospace;
    }
    
    .track-artist {
      font-size: 1rem;
      font-family: monospace;
    }
    
    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .playpause-track {
      opacity: 0.6;
    
      /* Smoothly transition the opacity */
      transition: opacity .2s;
  
    }
    
    .playpause-track:hover, .prev-track:hover, .next-track:hover {
      opacity: 1.0;
    }
    
    .slider_container {
      width: 300px;
      max-width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    /* Modify the appearance of the slider */
    .seek_slider, .volume_slider {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 5px;
      background: black;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    /* Modify the appearance of the slider thumb */
    .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: white;
      cursor: pointer;
      border-radius: 30px;
    }
    
    .seek_slider:hover, .volume_slider:hover {
      opacity: 1.0;
    }
    
    .seek_slider {
      width: 200px;
    }
    
    .volume_slider {
      width: 200px;
    }
    
    .current-time, .total-duration {
      padding: 10px;
    }
    
    i.fa-volume-down, i.fa-volume-up {
      padding: 10px;
    }
    
    i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
      cursor: pointer;
    }
  
  
  .fullscreenBtn{
      position: absolute;
      left:300px;
      top: 260px;
      z-index: 7;
      text-align: justify;
      cursor:pointer;
      background: none;
      font-family: monospace;
      border: 1px solid;
  
  }
  .fullscreen{
      position: absolute;
      bottom:0;
      left: 0;
      width: 992px;
      height: 100%;
      z-index: 5;
  }
  .fullscreen-bg{
      position: absolute;
      width: 992px;
      height: 2000px;
      background-color: white;
      z-index: 4;
  }
  .overlayfullscreen{
      position: absolute;
      z-index: 6;
      width: 992px;
      height: 2000px;
      opacity: 30%;
      /*put this inside a class or id thingie*/
      animation-name: colours; /*name of animation*/
      animation-duration: 3600s; /*duration in seconds, if you want faster, make lower*/
      animation-iteration-count: infinite /*how mnay times it should play*/
  }
  .hide{
      display: none;
      visibility: hidden;
  }
  
  .escapeBtn{
    position: absolute;
      left:48%;
      top: 20%;
      z-index: 7;
      text-align: justify;
      cursor:pointer;
      background: none;
      font-family: monospace;
      border: 1px solid;
  }
  }

  /* Mobile Sizes */
  @media only screen and (max-width: 640px) {
    html{
      margin: 0;
      padding: 0;
    }
    body{
      margin: 0;
    }
    div.overlay{
      position: absolute;
      z-index: 2;
      width: 600px;
      height: 2000px;
      opacity: 20%;
      margin: 0;
      /*put this inside a class or id thingie*/
      animation-name: colours; /*name of animation*/
      animation-duration: 3600s; /*duration in seconds, if you want faster, make lower*/
      animation-iteration-count: infinite /*how mnay times it should play*/
      
  }
  @keyframes colours
  {
    0%{background-color: rgb(255, 0, 0);}
    15%{background-color: rgb(255, 234, 0);}
    30%{background-color: rgb(0, 255, 102);}
    45%{background-color: rgb(0, 221, 255);}
    60%{background-color: rgb(68, 0, 255);}
    75%{background-color: rgb(255, 0, 221);}
    90%{background-color:rgb(255, 0, 119);}
    100%{background-color: rgb(255, 0, 0);}
  }
  
  
  div.canvas-bg{
      position: absolute;
      background-color: white;
      width: 195px;
      height: 220px;
      top:155px;
      left: 117px;
      z-index: -2;
  }
  
  img#bg{
      width: 600px;
      height: 400px;
      z-index: 3;
      position: absolute;
      top: 0;
  }
  p.align-centre{
      position: absolute;
      left: 0px;
      top: 0;
  }
  
  canvas.canvas{
    position: absolute;
    top: 170px;
    left: 117px;
    width: 195px;
    z-index: -1;
  
  }
  img#current-icon{
    z-index: -3;
    position: absolute;
    top: 17px;
    left: 0px;
    width: 600px;
    height: 399px;
  }
  
  button#getWeather{
      z-index: 4;
      position: absolute;
      left: 150px;
      top: 15px;
  
      font-size: 15px;
      color: white;
      font-family: monospace;
      
      background-color: transparent;
      
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
  
      
      cursor: pointer;
      
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  
      line-height: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .pixel {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }
  
  
  div.sidebar-right{
      z-index: 8;
      position: absolute;
      left: 140px;
      top: 400px;
      width: 30%;
      height: 20%;
      flex-direction: row;
  }
  .player {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    
    .details {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-top: 25px;
    }
    
    .track-name {
      font-size: 1rem;
      font-family: monospace;
    }
    
    .track-artist {
      font-size: 1rem;
      font-family: monospace;
    }
    
    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .playpause-track {
      opacity: 0.6;
    
      /* Smoothly transition the opacity */
      transition: opacity .2s;
  
    }
    
    .playpause-track:hover, .prev-track:hover, .next-track:hover {
      opacity: 1.0;
    }
    
    .slider_container {
      width: 300px;
      max-width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    /* Modify the appearance of the slider */
    .seek_slider, .volume_slider {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 5px;
      background: black;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    /* Modify the appearance of the slider thumb */
    .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: white;
      cursor: pointer;
      border-radius: 30px;
    }
    
    .seek_slider:hover, .volume_slider:hover {
      opacity: 1.0;
    }
    
    .seek_slider {
      width: 200px;
    }
    
    .volume_slider {
      width: 200px;
    }
    
    .current-time, .total-duration {
      padding: 10px;
    }
    
    i.fa-volume-down, i.fa-volume-up {
      padding: 10px;
    }
    
    i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
      cursor: pointer;
    }
  
  
  .fullscreenBtn{
      position: absolute;
      left:160px;
      top: 235px;
      z-index: 7;
      text-align: justify;
      cursor:pointer;
      background: none;
      font-family: monospace;
      border: 1px solid;
  
  }
  .fullscreen{
      position: absolute;
      bottom:0%;
      left: 0;
      width: 600px;
      height: 100%;
      z-index: 5;
  }
  .fullscreen-bg{
      position: absolute;
      width: 600px;
      height: 2000px;
      background-color: white;
      z-index: 4;
  }
  .overlayfullscreen{
      position: absolute;
      z-index: 6;
      width: 600px;
      height: 2000px;
      opacity: 30%;
      /*put this inside a class or id thingie*/
      animation-name: colours; /*name of animation*/
      animation-duration: 3600s; /*duration in seconds, if you want faster, make lower*/
      animation-iteration-count: infinite /*how mnay times it should play*/
  }
  .hide{
      display: none;
      visibility: hidden;
  }
  
  .escapeBtn{
    position: absolute;
      left:48%;
      top: 20%;
      z-index: 7;
      text-align: justify;
      cursor:pointer;
      background: none;
      font-family: monospace;
      border: 1px solid;
  }
  }
  